<nav>
    {# Application title #}
    <a href="{{ url(routeConst("HOME_ROUTE")) }}" class="app-title">
        {{ appTitle }}
    </a>
    <div class="nav-content">    
        {# Navigation links #}
        <div class="nav-links">
            <ul>
                <li>
                    <a href="{{ url(routeConst("KANBAN_CREATE_ROUTE")) }}">
                        Créer un kanban
                    </a>
                </li>
                {% if app.user %}
                    <li>
                        <a href="{{ url(routeConst("KANBAN_BY_USER_ROUTE"), {'user': app.user}) }}">Mes kanbans</a>
                    </li>
                    <li>
                        <a href="{{ url(routeConst("TASK_BY_USER_ROUTE"), {'user': app.user}) }}">Mes tâches</a>
                    </li>
                    <li>
                        <a href="{{ url(routeConst("INVITATION_BY_USER_ROUTE"), {'user': app.user}) }}">Invitations</a>
                    </li>
                {% endif %}
            </ul>
        </div>
        {# Login, register and logout buttons #}
        <div class="auth-btn">
            {% if app.user %}
                <a href="{{ url(routeConst("LOGOUT_ROUTE")) }}" class="logout">
                    Déconnexion
                </a>
            {% else %}
                <a href="{{ url(routeConst("LOGIN_ROUTE")) }}" class="login">
                    Connexion
                </a>
                <a href="{{ url(routeConst("REGISTER_ROUTE")) }}" class="register">
                    Inscription
                </a>
            {% endif %}
        </div>
    </div>
</nav>