<nav>
    {# Application title #}
    <a href="{{ url(routeConst("HOME_ROUTE")) }}" class="app-title">
        {{ appTitle }}
    </a>
    <div class="nav-content">    
        {# Navigation links #}
        <div class="nav-links">
            <ul>
                <li>
                    <a href="{{ url(routeConst("KANBAN_CREATE_ROUTE")) }}">
                        Créer un kanban
                    </a>
                </li>
                {% if app.user %}
                    <li>
                        <a href="{{ url(routeConst("KANBAN_BY_USER_ROUTE"), {'user': app.user}) }}">Mes kanbans</a>
                    </li>
                    <li>
                        <a href="#">Mes tâches</a>
                    </li>
                    <li>
                        <a href="{{ url(routeConst("INVITATION_BY_USER_ROUTE"), {'user': app.user}) }}">Invitations</a>
                    </li>
                {% endif %}
            </ul>
        </div>
        {# Login, register and logout buttons #}
        <div class="auth-btn">
            {% if app.user %}
                <form method="get" action="{{ url(routeConst("LOGOUT_ROUTE")) }}">
                    <button class="logout">Déconnexion</button>
                </form>
            {% else %}
                <form method="get" action="{{ url(routeConst("LOGIN_ROUTE")) }}">
                    <button class="login">Connexion</button>
                </form>
                <form method="get" action="{{ url(routeConst("REGISTER_ROUTE")) }}">
                    <button class="register">Inscription</button>
                </form>
            {% endif %}
        </div>
    </div>
</nav>