{% extends 'base.html.twig' %}

{% block title %}Créer un Kanban{% endblock %}

{% block body %}
    <h1>Créer un Kanban</h1>

    {{ form_start(form) }}
    
    {{ form_errors(form) }}

    <div class="input-container">
        {{ form_widget(form.name) }}
        {{ form_label(form.name) }}
    </div>

    <div class="checkbox-container">
        {{ form_widget(form.privacy) }}
        {{ form_label(form.privacy) }}
    </div>

    <h2>Colonnes du Kanban</h2>
    <ul id="columns" class="list-group"
        data-index="{{ form.columns|length > 0 ? form.columns|last.vars.name + 1 : 0 }}"
        data-prototype="{{ form_widget(form.columns.vars.prototype)|e('html_attr') }}">
        <li><input type="text" value="Stories" readonly></li>
        <li id="last_col"><input type="text" value="Terminées" readonly></li>
    </ul>
    <button type="button" id="add-item" data-collection-holder-class="columns">Nouvelle colonne</button>

    {{ form_rest(form) }}

    {{ form_end(form) }}

{% endblock %}