{% extends 'base.html.twig' %}

{% block title %}Kanbans de {{ user.username }}{% endblock %}

{% block body %}

<div class="kanbans-list-container">
    <div class="kanbans-list-child">
        <h1>Mes Kanbans</h1>

        {# Liste des kanbans de l'utilisateur #}
        <div class="kanbans-list-item">
            {% for kanban in kanbans_owned %}
                <div class="kanban">
                    <div class="kanban-info">                
                        <h2>{{ kanban.name }}</h2>
                        <div class="arrow-wrapper">
                            <a href="{{ url(routeConst("KANBAN_ROUTE"), {'id': kanban.id}) }}" class="arrow">Voir le Kanban</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="kanbans-list-child">
        <h1>Kanbans partagés avec moi</h1>

        {# Liste des kanbans partagés avec l'utilisateur #}
        <div class="kanbans-list-item">
            {% for kanban in kanbans_invited %}
                <div class="kanban">
                    <div class="kanban-info">                
                        <h2>
                            {{ 
                                kanban.name
                                | u.truncate(50, '...') 
                            }}
                        </h2>
                        <div class="arrow-wrapper">
                            <a href="{{ url(routeConst("KANBAN_ROUTE"), {'id': kanban.id}) }}" class="arrow">Voir le Kanban</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>


{% endblock %}
