{% extends 'base.html.twig' %}

{% block title %}
{{ kanban.name }}
{% endblock %}

{% block body %}
<div>
<p>Nom du Kanban : {{ kanban.name }}</p>
<p>Propriétaire : {{ kanban.owner.username }}</p>

<p>Utilisateurs :</p>
<ul>
{% for user in kanban.users %}
    <li>{{ user.username }}</li>
{% endfor %}
</ul>

<p>Colonnes :</p>
<ul>
{% for col in kanban.columns %}
    <li>{{ col.name }}</li>

    <ul>
    {% for task in col.tasks %}
        <li>
            <p>{{ task.name }}</p>
            <p>Description : {{ task.description }}</p>
            <p>Date limite : {{ task.getLimitDate|date("m/d/Y") }}</p>
        </li>
    {% endfor %}
    </ul>
{% endfor %}
</ul>

<p>Utilisateurs invités :</p>
{% for inv in kanban.invitations %}
    <li>{{ inv.user.username }}</li>
{% endfor %}

{% if app.user == kanban.owner %}

{% for message in app.flashes('success') %}
    {# S'assurer que le flash est le bon (et pas celui de création de Kanban, qui est affiché à la première venue sur la page) #}
    {% if 'Utilisateur' in message %}
        <div class="success-flash">
            {{ message }}
        </div>
    {% endif %}
{% endfor %}

{% for message in app.flashes('warning') %}
    <div class="warning-flash">
        {{ message }}
    </div>
{% endfor %}

{% for message in app.flashes('error') %}
    <div class="failure-flash">
        {{ message }}
    </div>
{% endfor %}

<form 
    class="" 
    action="{{ path('invitation.send', {'id': kanban.id}) }}" 
    method="post">
    <div class="input-container">
        <input 
            type="text" 
            id="username" 
            name="username" 
            value="" placeholder="" required>
        <label for="username">Pseudonyme</label>
    </div>

    <button type="submit">Inviter sur le Kanban</button>
</form>
{% endif %}

</div>
{% endblock %}