{% extends 'base.html.twig' %}

{% block title %}
{{ kanban.name }}
{% endblock %}

{% block body %}

{% for message in app.flashes('success') %}
    {# S'assurer que le flash est le bon (et pas celui de création de Kanban, qui est affiché à la première venue sur la page) #}
    {% if 'Utilisateur' in message %}
        <div class="success-flash">
            {{ message }}
        </div>
    {% endif %}
{% endfor %}

{% for message in app.flashes('warning') %}
    <div class="warning-flash">
        {{ message }}
    </div>
{% endfor %}

{% for message in app.flashes('error') %}
    <div class="failure-flash">
        {{ message }}
    </div>
{% endfor %}

<h1 class="kanban-title">{{ kanban.name }}</h1>

<div class="kanban-container">
    <table class="kanban">
        <thead>
            <tr>
                {% for col in kanban.columns %}
                    <th>
                        <div>{{ col.name }}</div>
                    </th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {# Traverse the table horizontally and add the tasks #}
            {% for i in 0..maxTasks %}
                <tr>
                    {% for j in 0..(kanban.columns | length - 1) %}
                        {% if kanban.columns[j].tasks[i] is defined %}
                            {% set task = kanban.columns[j].tasks[i] %}
                            <td class="js-task"
                                data-task-id="{{ task.id }}"
                                data-task-name="{{ task.name }}"
                                data-task-description="{{ task.description }}"
                                data-column-offset="{{ kanban.columns[j].offset }}"
                                {% if task.user is not null %}
                                    data-task-user="{{ task.user.username }}"
                                {% endif %}
                                {% if task.limitDate is not null %}
                                    data-task-date="{{ task.limitDate | date("Y/m/d") }}"
                                {% endif %}
                                >
                                <div>
                                    <div class="arrows">
                                        {% if j != 0 and app.user and (app.user == kanban.owner or app.user in kanban.users) %}
                                            <a href="{{ url(routeConst("TASK_MOVE_ROUTE"), {'id': task.id, 'to': kanban.columns[j - 1].id}) }}" class="left task-arrow">
                                                &#11013;
                                            </a>
                                        {% endif %}
                                        {% if j != (kanban.columns | length - 1) and app.user and (app.user == kanban.owner or app.user in kanban.users) %}
                                            <a href="{{ url(routeConst("TASK_MOVE_ROUTE"), {'id': task.id, 'to': kanban.columns[j + 1].id}) }}" class="right task-arrow">
                                                &#10145;
                                            </a>
                                        {% endif %}
                                    </div>
                                    <span class="name">
                                        {{ task.name }}
                                    </span>
                                </div>
                            </td>
                        {% elseif app.user and (app.user in kanban.users or app.user == kanban.owner) and (i == 0 or kanban.columns[j].tasks[i - 1] is defined) %}
                            <td class="add-task">
                                <div>
                                    <button data-col-id="{{ kanban.columns[j].id }}">
                                        Ajouter une tâche
                                    </button>
                                </div>
                            </td>
                        {% else %}
                            <td class="td-invisible"></td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{# <div class="task-actions">
{% if app.user and (app.user == kanban.owner or app.user in kanban.users) %} 
    <button data-task-id="{{ task.id }}" class="js-accept">Accepter</button>
    {% if app.user == kanban.owner %}
        <div class="affect-container">
            <select name="user">
                {% for user in kanban.users %}
                    <option value="{{ user.id }}">{{ user.username }}</option>
                {% endfor %}
            </select>
            <button data-task-id="{{ task.id }}" class="js-affect">Affecter</button>
        </div>
    {% endif %}
{% else %}
    <p>Tâche non affectée</p>
{% endif %}
</div> #}

<h2 class="members-title">Membres</h2>

<ul class="js-members">
    <li 
        data-id="{{ kanban.owner.id }}"
        data-is-owner="1"
        data-is-current="{{ app.user and app.user == kanban.owner ? 1 : 0 }}"
    >
        {{ kanban.owner.username }}
    </li>
    {% for user in kanban.users %}
        <li 
            data-id="{{ user.id }}"
            data-is-owner="0"
            data-is-current="{{ app.user and app.user == user ? 1 : 0 }}"
            >
            {{ user.username }}
        </li>
    {% endfor %}
</ul>

{% if app.user == kanban.owner %}

<form 
    action="{{ path('invitation.send', {'id': kanban.id}) }}" 
    method="post">
    <div class="input-container">
        <input 
            type="text" 
            id="username" 
            name="username" 
            value="" placeholder="" required>
        <label for="username">Pseudonyme</label>
    </div>

    <button type="submit">Inviter sur le Kanban</button>
</form>
{% endif %}

{% endblock %}