{% extends 'base.html.twig' %}

{% block title %}
{{ kanban.name }}
{% endblock %}

{% block body %}
<div>
<p>Nom du Kanban : {{ kanban.name }}</p>
<p>Propriétaire : {{ kanban.owner.username }}</p>

<p>Utilisateurs :</p>
<ul>
{% for user in kanban.users %}
    <li>{{ user.username }}</li>
{% endfor %}
</ul>

<p>Colonnes :</p>
<ul>
{% for col in kanban.columns %}
    <li>{{ col.name }}</li>

    <div class="tasks">
        {% for task in col.tasks %}
            <div class="js-task" data-task-id="{{ task.id }}">
                <p>{{ task.name }}</p>
                <p>Description : {{ task.description }}</p>
                {% if task.limitDate is not null %}
                    <p>Date limite : {{ task.limitDate | date("d/m/Y") }}</p>
                {% endif %}
                
                {# Nous n'affichons pas les affectations / boutons d'affectation si c'est la colonne "Terminées" #}
                {% if kanban.columns | last != col %}

                    {% if task.user %}
                        {% if app.user and task.user == app.user %}
                            <p>Votre tâche</p>
                        {% else %}
                            <p>Tâche attribuée à {{ task.user.username }}</p>
                        {% endif %}
                    {% else %}
                        {% if app.user and (app.user == kanban.owner or app.user in kanban.users) %} 
                            <button data-task-id="{{ task.id }}" class="js-accept">Accepter</button>
                            {% if app.user == kanban.owner %}
                                <div class="js-affect-container" data-task-id="{{ task.id }}">
                                    <select name="user">
                                    {% for user in kanban.users %}
                                        <option value="{{ user.id }}">{{ user.username }}</option>
                                    {% endfor %}
                                    </select>
                                    <button data-task-id="{{ task.id }}" class="js-affect">Affecter</button>
                                </div>
                            {% endif %}
                        {% else %}
                            <p>Tâche non affectée</p>
                        {% endif %}
                    {% endif %}

                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endfor %}
</ul>

<p>Utilisateurs invités :</p>
{% for inv in kanban.invitations %}
    <li>{{ inv.user.username }}</li>
{% endfor %}

{% if app.user == kanban.owner %}

{% for message in app.flashes('success') %}
    {# S'assurer que le flash est le bon (et pas celui de création de Kanban, qui est affiché à la première venue sur la page) #}
    {% if 'Utilisateur' in message %}
        <div class="success-flash">
            {{ message }}
        </div>
    {% endif %}
{% endfor %}

{% for message in app.flashes('warning') %}
    <div class="warning-flash">
        {{ message }}
    </div>
{% endfor %}

{% for message in app.flashes('error') %}
    <div class="failure-flash">
        {{ message }}
    </div>
{% endfor %}

<form 
    action="{{ path('invitation.send', {'id': kanban.id}) }}" 
    method="post">
    <div class="input-container">
        <input 
            type="text" 
            id="username" 
            name="username" 
            value="" placeholder="" required>
        <label for="username">Pseudonyme</label>
    </div>

    <button type="submit">Inviter sur le Kanban</button>
</form>
{% endif %}

</div>
{% endblock %}