{% extends 'base.html.twig' %}

{% block title %}Invitations{% endblock %}

{% block body %}

<div>
    <h1>Invitations de {{ user.username }}</h1>
    <div class="invitations">
        {% for invitation in user.invitations %}
            <div data-invitation-id="{{ invitation.id }}" class="js-invitation">
                <a href="{{ url(routeConst("KANBAN_ROUTE"), {'id': invitation.kanban.id}) }}">{{ invitation.kanban.name }}</a>
                <button data-invitation-id="{{ invitation.id }}" class="js-accept">Accepter</button>
                <button data-invitation-id="{{ invitation.id }}" class="js-reject">Refuser</button>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}