{% extends 'base.html.twig' %}

{% block title %}Invitations de {{ user.username }}{% endblock %}

{% block body %}

<div>
<h1>Invitations de {{ user.username }}</h1>

<div class="invitations">
{% for invitation in user.invitations %}
    <div id="invitation-{{ invitation.id }}" class="invitation">
 
        <a href="{{ url(routeConst("KANBAN_ROUTE"), {'id': invitation.kanban.id}) }}">{{ invitation.kanban.name }}</a>
        <button id="accept-{{ invitation.id }}" class="accept">Accepter</button>
        <button id="reject-{{ invitation.id }}" class="reject">Refuser</button>
    </div>
{% endfor %}
</div>

</div>


{% endblock %}