{% extends 'base.html.twig' %}

{% block title %}Tâches{% endblock %}

{% block body %}

<div class="tasks-list-container">
    <div class="tasks-list-child">
        <h1>Vos tâches</h1>
        <div class="js-sort-options sort-options">
            <button class="js-alpha">Alphabétique croissant</button>
            <button class="js-alpha-dec">Alphabétique décroissant</button>
            <button class="js-date">Date limite croissant</button>
            <button class="js-date-dec">Date limite décroissant</button>
            <select class="kanban-sort">
                <option selected value="-1" class="select-reset">Kanban</option>
                {% for kanban in user.kanbans %}
                    <option value={{ kanban.id }}>{{ kanban.name }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="tasks">
            {% for task in tasks %}
                {# Vérifie que la tâche ne soit pas terminée #}
                {% if task.kanbanColumn.offset != (task.kanbanColumn.kanban.columns | length) - 1 %}
                    <div data-kanban-id={{ task.kanbanColumn.kanban.id }} class="task">
                        <h2 class="js-alpha-key js-alpha-dec-key">
                            {{ task.name | u.truncate(50, '...') }} | {{ task.kanban.name | u.truncate(50, '...') }}
                        </h2>
                        <div class="arrow-wrapper">
                            <a href="{{ url(routeConst("KANBAN_ROUTE"), {'id': task.kanban.id}) }}" class="arrow">Voir le Kanban</a>
                        </div>
                        {% if task.limitDate is not null %}
                            <p>Date limite : <span class="js-date-key js-date-dec-key">{{ task.limitDate | date("d/m/Y") }}</span></p>
                        {% endif %}
                    </div>
                {% endif %}
            
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
